<section class="comment borderSmall">
    <div class="comment_header">
        <h2 class="comment_title">{{title}}</h2>
        <p>{{date}}</p>
    </div>
    <div>
        <p>{{text}}</p>
    </div>
</section>

