<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>BLOG!</title>
        <link rel="stylesheet" href="public\css\style.css">
    </head>

    <body>
        <header>
            <h1>Welcome to the blog</h1>
        </header>
        <main>
            <h2>Blog!</h2>
            <div class="blog">
                {{{body}}}
            </div>
        </main>
    </body>
</html>