<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>BLOG!</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>
        <header>
            <nav>
                <a href="/" class="navButton border" id="homeButton">Home</a>
                <a href="/dashboard" class="navButton border" id="dashboardButton">Dashboard</a>
                {{#if loggedIn}}
                <button href="/logout" class="navButton border" id="logoutButton">Logout</button>
                <script src="./js/logout.js"></script>
                {{else}}
                <a href="/login" class="navButton border" id="loginButton">Login</a>
                {{/if}}
            </nav>
            <div class="border" id="titleDiv">
                <h1>Welcome to the Blog!</h1>
            </div>
        </header>
        <main class="border">
            <div class="blog">
                {{{body}}}
            </div>
        </main>
    </body>
</html>