
<div id="homepageDiv">
    <h2 id="homepageTitle"> TECH BLOG </h2>
    <p>Welcome to our Tech blog! <br>
        Here you can create an account, and see everyones posts recent posts about anything in the tech world!
        <br> In order to see any content however, you must sign in first so please do so by clicking the login button on the top 
        of the screen
    </p>
    <p>Alternatively, if you are already signed in, click on Dashboard to see everyone's posts!</p>
    <br>
    <img id="techImg" src="/images/tech.jpg">
</div>