<div>
    <div id="loginDiv">
        <h2>Login</h2>
    </div>
    <form>
        <div class="labelDiv">
            <label for="uname">Username:</label>
            <input type="text" id="uname" name="uname"><br>
        </div>
        <div class="labelDiv">
            <label for="uname">Password:</label>
            <input type="password" id="uname" name="uname"><br>
        </div>
        <div class="labelDiv">
            <label for="uname">Confirm Password:</label>
            <input type="password" id="uname" name="uname"><br>
        </div>

        <input type="submit" value="Submit">

    </form>
</div>