
<section class="comment borderSmall">
    <form id="update-blog-form">
        <div class="comment_header">
            <h3 contenteditable="true" id="editTitle" class="comment_title">{{commentData.title}}</h3>
            <div>
                <p>{{commentData.date}}</p>
                <p>{{commentData.user.username}} </p>
            </div>
        </div>
        <div>
            <p id="editText" contenteditable="true">{{commentData.text}}</p>
        </div>
        <input class="button" type="submit" value="Submit">
    </form>
    <button class="button" id="delete-comment">Delete</button>
    <script src="../js/myComment.js"></script>
</section>

