
<section class="blogpost border">

    <form id="update-blog-form">
        <div class="blogpost_header">
            <h2 contenteditable="true" id="editTitle" class="blogpost_title">{{blogData.title}}</h2>
            <div>
                <p>{{blogData.date}}</p>
                <p>{{blogData.user.username}} </p>
            </div>
        </div>
        <div>
            <p id="editText" contenteditable="true">{{blogData.text}}</p>
        </div>
        <input class="button" type="submit" value="Submit">
    </form>
    <script src="../js/myPost.js"></script>
</section>


